<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>BudayAI</title>
</head>

<body>
    <div class="row justify-content-center">
        <div class="container-sm">
            <h1>BudayAI object detection</h1>
            <form action="detect" method="post" enctype="multipart/form-data">
                <div class="form-row">
                    <div class="mb-3">
                        <label for="formFile" class="form-label">input image (Only JPG, JPEG, PNG are allowed)</label>
                        <input class="form-control" type="file" id="formFile" name="file" accept="image/jpeg,image/jpg,image/png">
                    </div>
                    <div class="column">
                        <div class="form-check form-check-inline">
                            <p style="font-weight: bold; color: black;">Select Model : </p>
                        </div>
                    </div>
                    <div class="column">
                        <div class="form-check form-check-inline">
                            <select name="select_model" id="selected_model">
                                <!-- will update / change automatically based on models folder's  -->
                                <!-- just add/remove some model in models folder's and the option value will be change-->
                                {%for i in range(0, len)%}
                                    <option value={{model_list[i]}} >{{" ".join(model_list[i].split("_"))}} </option>
                                {%endfor%}
                            </select>
                        </div>
                    </div>
                    <div class="form-btn">
                        <button class="form-btn" type="submit">
                            Detect
                        </button>
                    </div>
                </div>
            </form>
            <br>
            <br>
        </div>
    </div>
</body>

</html>